@{
    ViewData["Title"] = "Home Page";
}
<!--This is the view for the homepage.  We loop through each iteration of the data entered in the database.-->
@model ProjectListViewModel

<br />
<br />
<!--.Bookstores?-->

@foreach (var x in Model.Bookstores)
{
    <partial name="ProjectSummary" model="x"/>
}



    <div page-model="@Model.PagingInfo" page-action="Index"
         page-classes-enables="true" page-class="btn"
         page-class-normal="btn-outline-dark" page-class-selected="btn-primary" page-url-category="@Model.CurrentCategory"
         class="btn-group pull-right m-1"></div>
