<!--This is the common layout page that is shared between all of the views-->
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width =device-width, initial-scale=1.0" />
    <title>Here are some books</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

    <meta name="viewport" content="width =device-width, inital-scale=1" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
    <br />
    <!---->

    <div class= "bg-dark text-white p-2">
        <span class="navbar-brand ml-5">BOOKSTORE</span>
    </div>

    <div class="row m-1 p-1">
        <div id="blah" class="col-3">
            <h1>Welcome to my Bookstore</h1>
            <vc:navigation-menu></vc:navigation-menu>
        </div>
        <div class="col-9">
            @RenderBody()
        </div>
    </div>


   
</body>
</html>