<!--This is the common layout page that is shared between all of the views-->
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width =device-width, initial-scale=1.0" />
    <title>Here are some books</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

    <meta name="viewport" content="width =device-width, inital-scale=1" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href="/lib/font-awesome/css/all.min.css" rel="stylesheet"/>
</head>

<body>
    
    <!--Here is my nav bar stuff.  woohoo-->

    <div class="bg-dark text-white p-2">
        <div class="container-fluid">
            <div class="row">
                <div class="col navbar-brand">
                      BOOKSTORE
                </div>
                <div class="col-6 text-right">
                    <vc:cart-summary/>
                </div>

            </div>
        </div>

    </div>

    <div class="row m-1 p-1">
        <div id="blah" class="col-3">
            <h4 class="text-center">Bookstore Categories</h4>
            <vc:navigation-menu></vc:navigation-menu>
        </div>
        <div class="col-9">
            @RenderBody()
        </div>
    </div>


   
</body>
</html>