<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width =device-width" />
    <title>Here are some books</title>
    <link href="/lib/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />
</head>

<body>
    <br />
    <h1>Welcome to my Bookstore</h1>
    @RenderBody()
</body>
</html>